<%- include('partials/header') -%>

<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="card border-none">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <p class="fw-bold">Enter App Password</p>
      <form action="/save-app-password" method="POST">
        <input type="hidden" name="userId" value="<%= user.id %>" />
        <!-- <label for="appPassword">App Password:</label> -->
        <input
          class="form-control mb-4"
          type="password"
          id="appPassword"
          name="appPassword"
          required
        />
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  async function sendAuthenticatedRequest(url) {
    const response = await fetch("/save-app-password", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ userId, appPassword }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.message === "App password saved successfully") {
          window.location.href = "/dashboard";
        } else {
          console.error("Error:", data.message);
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
<%- include('partials/footer') -%>
