<%- include('partials/header') -%>

<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="card border-none">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <p class="fw-bold">Login with Gmail Account</p>
      <a href="/auth/google" class="btn btn-light">
        <img
          src="images/google.png"
          height="50px"
          width="50px"
          alt="Google logo"
        />
        <span>Sign in with Google</span>
      </a>
    </div>
  </div>
</div>
<div class="center">
  <a href="/auth/google" class="google-btn"> </a>
</div>

<%- include('partials/footer') -%>
