<nav id="sidebar" class="active bg-dark">
  <h1><a href="index.html" class="logo">P.</a></h1>
  <ul class="list-unstyled components mb-5">
    <li>
      <a href="/"><span class="fa fa-inbox"></span>Inbox</a>
    </li>
    <li class="active">
      <a href="/scheduled"><span class="fa fa-calendar"></span>Scheduled</a>
    </li>
  </ul>
</nav>
