<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column gap-3">
        <a href="./index.html" class="text-nowrap logo-img mt-3">
          <h4>Pertamina Email</h4>
        </a>
        <a href="/send-email" class="btn btn-outline-primary w-full px-5">
          Compose Email
        </a>
      </div>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item mb-2">
          <a class="sidebar-link <%= currentRoute === '/' ? 'active' : '' %>" href="/" aria-expanded="false">
            <span>
              <iconify-icon icon="hugeicons:sent" class="fs-6"></iconify-icon>
            </span>
            <span class="hide-menu">Sent</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link <%= currentRoute === '/scheduled' ? 'active' : '' %>" href="/scheduled" aria-expanded="false">
            <span>
              <iconify-icon
                icon="gridicons:scheduled"
                class="fs-6"
              ></iconify-icon>
            </span>
            <span class="hide-menu">Scheduled</span>
          </a>
        </li>
        
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
